.oneProperty h2 {
        color: rgba(255, 255, 255, 0.91);
        text-align: center;
        font-size: 3.188rem;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        margin-bottom: 55px;
}

.oneProperty {
    padding-top: 70px;
    padding-bottom: 115px;
    background: rgba(0, 0, 0, 0.25);
}

.property-arrow {
    margin-bottom: 0;
}



#realProperty {
    background: #f7f7f7;
    padding-bottom: 80px;
}

.property__bg {
    background: #fff;
    margin-top: -95px;
    padding-top: 45px;
    padding-bottom: 85px;
    box-shadow: 0 2px 0 rgba(199, 199, 199, 0.616);
}

.property__bg p {
    font-size: 1.063rem;
    margin-bottom: 0;
}

.property__bg p:nth-child(1) {
    font-family: 'Museo Sans Cyrl 100';
    font-weight: 100;
    font-style: normal; 
}

.property-content__flex_one {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 25px;
}

.property-content__img img {
    max-width: 368px;
}

.property-content__text {
    
}

.property-content__text p {
    font-size: 1rem;
    font-family: 'Museo Sans Cyrl 100';
    display: block;
    max-width: 400px;
}

